<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head> https://lukeoutdoors.com/collections/outdoors-bulk-supply <meta name="p:domain_verify" content="912030f2a379a7f65cb70198d724d849"/>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TR9TPBB');</script>
<!-- End Google Tag Manager -->
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149596445-1"></script>
<script><div id='product-component-1590252997067'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'luke-outdoors-supply-llc.myshopify.com',
      storefrontAccessToken: 'f64e3153d7552d3db9e931b8a365f397',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '4492209717345',
        node: document.getElementById('product-component-1590252997067'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "title": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "normal",
        "color": "#42cf51"
      },
      "button": {
        "font-family": "Raleway, sans-serif",
        "font-size": "17px",
        "padding-top": "16.5px",
        "padding-bottom": "16.5px",
        "color": "#151414",
        ":hover": {
          "color": "#151414",
          "background-color": "#72a756"
        },
        "background-color": "#7fba60",
        ":focus": {
          "background-color": "#72a756"
        },
        "border-radius": "16px"
      },
      "quantityInput": {
        "font-size": "17px",
        "padding-top": "16.5px",
        "padding-bottom": "16.5px"
      },
      "price": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold"
      },
      "compareAt": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold"
      },
      "unitPrice": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold"
      }
    },
    "text": {
      "button": "Add to cart"
    },
    "googleFonts": [
      "Raleway"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Raleway, sans-serif",
        "font-size": "17px",
        "padding-top": "16.5px",
        "padding-bottom": "16.5px",
        "color": "#151414",
        ":hover": {
          "color": "#151414",
          "background-color": "#72a756"
        },
        "background-color": "#7fba60",
        ":focus": {
          "background-color": "#72a756"
        },
        "border-radius": "16px"
      },
      "quantityInput": {
        "font-size": "17px",
        "padding-top": "16.5px",
        "padding-bottom": "16.5px"
      }
    },
    "googleFonts": [
      "Raleway"
    ],
    "text": {
      "button": "Add to cart"
    }
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Raleway, sans-serif",
        "font-size": "17px",
        "padding-top": "16.5px",
        "padding-bottom": "16.5px",
        "color": "#151414",
        ":hover": {
          "color": "#151414",
          "background-color": "#72a756"
        },
        "background-color": "#7fba60",
        ":focus": {
          "background-color": "#72a756"
        },
        "border-radius": "16px"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    },
    "googleFonts": [
      "Raleway"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Raleway, sans-serif",
        "background-color": "#7fba60",
        ":hover": {
          "background-color": "#72a756"
        },
        ":focus": {
          "background-color": "#72a756"
        }
      },
      "count": {
        "font-size": "17px",
        "color": "#151414",
        ":hover": {
          "color": "#151414"
        }
      },
      "iconPath": {
        "fill": "#151414"
      }
    },
    "googleFonts": [
      "Raleway"
    ]
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
  
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149596445-1');
</script>

  <meta charset="UTF-8">
  <title>{{ shop.name }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}">

  {% include 'social-meta-tags' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
</head>
5h0ybcmt-ampr-ygo7:rmuz-6rwhtnuh22nf
<body class="template-password">

  <a href="#LoginModal" class="password-login-link js-modal-open-login-modal">
    {% include 'icon-lock' %}
    {{ 'general.password_page.password_link' | t }}
  </a>

  <div class="password-page page-width text-center" role="main">
    <div class="password-page__inner">
      <div class="password-page__content">
      {{ content_for_layout }}
      </div>
    </div>
  </div>

  <div id="LoginModal" class="modal">
    <div class="modal__inner">
      <div class="modal__centered password-modal__content page-width text-center">
        <p class="h4">{{ 'general.password_page.login_form_heading' | t }}</p>
        <div class="password-login-form">
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <div class="input-group">
              <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
              <span class="input-group__btn">
                <button type="submit" name="commit" class="btn btn--narrow">
                  {% include 'icon-arrow-right' %}
                  <span class="icon__fallback-text">{{ 'general.password_page.login_form_submit' | t }}</span>
                </button>
              </span>
            </div>
          {% endform %}
        </div>
        <p>{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
    <button type="button" class="modal__close js-modal-close text-link">
      {% include 'icon-close' %}
      <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
    </button>
  </div>

</body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TR9TPBB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>
set "MQSERVER=CLOUD.ADMIN.SVRCONN/TCP/automatedmanagement-013c.qm.us-south.mq.appdomain.cloud(32434)"
runmqsc -c -u lilluke304 -w 60 AutomatedManagement