<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TR9TPBB');</script>
<!-- End Google Tag Manager -->
<meta name="google-site-verification" content="xtm59-e_yiy6XD-LjKFz5SCAVqkRRSh7r8wjs2Bprns" />  <script data-ad-client="ca-pub-8033900780366662" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta charset="UTF-8">
  <title>{{ shop.name }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}">

  {% include 'social-meta-tags' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
</head>

<body class="template-password">

  <a href="#LoginModal" class="password-login-link js-modal-open-login-modal">
    {% include 'icon-lock' %}
    {{ 'general.password_page.password_link' | t }}
  </a>

  <div class="password-page page-width text-center" role="main">
    <div class="password-page__inner">
      <div class="password-page__content">
      {{ content_for_layout }}
      </div>
    </div>
  </div>

  <div id="LoginModal" class="modal">
    <div class="modal__inner">
      <div class="modal__centered password-modal__content page-width text-center">
        <p class="h4">{{ 'general.password_page.login_form_heading' | t }}</p>
        <div class="password-login-form">
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
            <div class="input-group">
              <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
              <span class="input-group__btn">
                <button type="submit" name="commit" class="btn btn--narrow">
                  {% include 'icon-arrow-right' %}
                  <span class="icon__fallback-text">{{ 'general.password_page.login_form_submit' | t }}</span>
                </button>
              </span>
            </div>
          {% endform %}
        </div>
        <p>{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
    <button type="button" class="modal__close js-modal-close text-link">
      {% include 'icon-close' %}
      <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
    </button>
  </div>

</body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TR9TPBB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>
